@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* Nav */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
nav{
  background: #ffffff;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #77b7f6;
}
label.logo{
  color: #000000;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}
label.logo:hover{
  color: #77b7f6;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #000000;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
}
#icon{
    display: inline-block;
    text-align: center;
    margin: 0 5px;
}
a.active, a:hover{
  background:#97c2ee;
  border: 1px solid #6daffe;
  transition: .3s;
}
.checkbtn{
  font-size: 30px;
  color: #000000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/* Dropdown */
.dropbtn {
  border-radius: 50%;
  background-color: #edf6ff;
  width: 30px;
  margin-top: 20px;
  color: #000000;
  padding: 0;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 17px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: #000000;
}

@media (max-width: 745px) {
  label.logo{
    font-size: 20px;
    padding-left: 15px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .dropbtn{
    display: none;
  }
  .dropdown-content{
    display: block;
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 5px;
  }
  .dropdown-content a{
    margin-left: 50%;
    width: 100%;
  }
  .dropdown-content:hover{
    background: none;
    border: none;
    box-shadow: none;
  }
}
@media (max-width: 700px){
  .checkbtn{
    display: block;
    font-size: 25px;
    margin-right: 20px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #97c2ee;
    top: 80px;
    left: -100%;
    text-align: center;
    transform: all .5s;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 15px;
  }
  a:hover,a.active{
    background: none;
    color: #f8f8f8;
  }
}
#check:checked ~ ul{
  left: 0;
}

/* Table */
table {
    margin-left: 20%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 50%;
  }
  table caption {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 1.5em;
  }
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  th{
      background-color: #6daffe;
  }
td{
    background-color: #edf6ff;
}
.row{
  float: right;
  width: 20%;
  margin-top: 50px;
  height: 200px;
  border: 2px solid #a09c9c;
}
.row td{
  border: 1px solid #a09c9c;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  /* Media screen */
  @media (max-width: 700px){
    /* Table */
    table {
      border: 0;
      margin-left: 70px;
    }
    .row{
      height: 100px;
      margin-right: 50px;
      margin-top: 80px;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      border-bottom: 2px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }


